body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    border-bottom: 2px solid #007BFF;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #ffffff;
    border-bottom: 2px solid #007BFF;
    color: #007BFF;
}

.tab-button:hover {
    background-color: #e9ecef;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus {
    border-color: #007BFF;
    outline: none;
}

.form-section hr {
    margin: 20px 0;
    border: 1px solid #e9ecef;
}

.form-section button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-section button:hover {
    background-color: #0056b3;
}

.message {
    margin-bottom: 20px;
    font-style: italic;
    color: #6c757d;
}

.message-area {
    margin: 20px 0;
}

.message-area .copy-button {
    display: block;
    padding: 12px;
    margin-top: 5px;
    background-color: #007bff; /* Azul */
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.message-area .copy-button:hover {
    background-color: #0056b3; /* Azul escuro */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.clear-button {
    background-color: #dc3545; /* Vermelho */
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.clear-button:hover {
    background-color: #c82333; /* Vermelho escuro */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.notification {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


.footer-text {
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
    text-align: center;
}


.footer-logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-logo img {
    height: 70px;
    max-width: 100%;
}
